<html>
    <head>
        <link type="text/css" rel="stylesheet" href="~/Client/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="~/Client/css/bootstrap-responsive.min.css"/>
    </head>
    <body>
        <div id="header-region"></div>
        <div id="body1-region"></div>
        <div id="body2-region"></div>
        <div id="footer-region"></div>

        <script src="~/Client/lib/require-jquery.js" data-main="/client/app.js"></script>
    </body>
</html>
