<html>
    <head>
        <link type="text/css" rel="stylesheet" href="~/Client/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="~/Client/css/bootstrap-responsive.min.css"/>
    </head>
    <body>
        <div id="header-region"></div>
        <div id="body1-region"></div>
        <div id="body2-region"></div>
        <div id="footer-region"></div>

        <script src="~/Client/lib/require-jquery.js" data-main="/client/app.js"></script>
        
        <script id="body" type="text/html">
            <div class="well well-small">
                Main body. Content goes here.
            </div>

        </script>
    
        <script id="header" type="text/html">
            <h2>Main Header</h2>
        </script>
    
        <script id="footer" type="text/html">
            <h3>Main Footer</h3>
        </script>
    
    </body>
</html>
