<html>
    <body>
        <div id="header-region"> </div>
        <div id="body-region"></div>
        <div id="footer-region"></div>
        <script src="~/Client/lib/require-jquery.js" data-main="/client/app.js"></script>
    </body>
</html>