<html>
    <body>
        <h1>Hello World</h1>
        <div>
            Worked.    
        </div>
        <script src="~/Client/lib/require-jquery.js" data-main="/client/app.js"></script>
    </body>
</html>